
 body {background-color:#f6dfeb;}

 hr{
   border-style: none;
   border-top-style: dotted;
   border-color: grey;
   border-width: 5px;
   width: 15%


 }
h1{
  color: #926e6f;
}
h3{
  color: #926e6f;
}
